.title-appear {
    opacity: 0.01;
    transform: rotateY(-90deg);
    transform-origin: 0% 50%;
}

.title-appear.title-appear-active {
    opacity: 1;
    transform: rotateY(0deg);
    transition: 1s linear;
}

.next-appear {
    opacity: 0.01;
}

.next-appear.next-appear-active {
    opacity: 1;
    transition: 2s linear;
}

