.credits-appear {
    transform: translateY(100vh);
  /* transform: rotateX(40deg); */
}

.credits-appear.credits-appear-active {
    transform: translateY(-200vh);
  /* transform: rotateX(40deg); */
    transition: all 15s linear;
}

.list-item::first-letter{
    color: #EA4D44;
    float: left;
    font-family: Georgia;
    font-size: 3rem;
    line-height: 1rem;
    padding-right: 8px;
    padding-left: 3rem;
}