.credits-appear {
    transform: translateY(100vh);
    /* transform: rotateX(40deg); */
}

.credits-appear.credits-appear-active {
    transform: translateY(-200vh);
    /* transform: rotateX(40deg); */
    transition: all 20s linear;
}

.list-item::first-letter {
    color: #750500;
    float: left;
    font-family: Georgia;
    font-size: 4rem;
    line-height: 1rem;
    padding-left: 3rem;
}

@media screen and (max-width:600px) {
    .list-item {
        font-size: 0.8rem;
    }
    .list-item::first-letter {
        color: #750500;
        float: left;
        font-family: Georgia;
        font-size: 2rem;
        line-height: 1.6rem;
        padding-left: 2rem;
    }
}