.leaving-left{
    transform: translateX(-100vw);
    transition: transform 0.5s ease-in;
}

.leaving-right{
    transform: translateX(100vw);
    transition: transform 0.5s ease-in;
}

.left-left{
    transform: translateX(100vw);
}

.left-right{
    transform: translateX(-100vw);
}

.entering-left{
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}

.entering-right{
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}


#carousel-data{
    display: grid;
    grid-template-columns: 3% 40% 54% 3%;
    grid-template-rows: 10% 10% 60% 20%;
    align-content: center;
    min-height: 72vh;
    margin-top: 3vh;
}

.grid-container{
    display: grid;
    grid-template-columns: [first]10% [second]80% [third]10%;
    grid-template-rows: auto;
    
}

#empty-block-top{ 
    grid-column-start:3;
    grid-row:2/3; 
    justify-self:start;
    margin-left:30px;
    font-weight:bold;
    color:white;
    margin-top: 30px;
}

#empty-block-bottom{ 
    grid-column-start:3;
    grid-row:4/5; 
    justify-self:start;
    margin-left:30px;
    font-weight:bold;
    color:white;
    margin-top: 30px;
}
.carousel-text-content{ 
    grid-column-start: 3;
    grid-row: 3/4; 
    justify-self: start;
    margin-left:30px;
    font-size:1.5rem;
    color: white;
}

#read-more:hover{
    text-decoration-line: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
}