.leaving-left{
    transform: translateX(-100vw);
    transition: transform 0.5s ease-in;
}

.leaving-right{
    transform: translateX(100vw);
    transition: transform 0.5s ease-in;
}

.left-left{
    transform: translateX(100vw);
}

.left-right{
    transform: translateX(-100vw);
}

.entering-left{
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}

.entering-right{
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}


#carousel-data{
    display: grid;
    grid-template-columns: 3% 40% 54% 3%;
    grid-template-rows: 10% 10% 60% 20%;
    align-content: center;
}

.grid-container{
    display: grid;
    grid-template-columns: [first]10% [second]80% [third]10%;
    grid-template-rows: auto;
    
}

.carousel-text-title{ 
    grid-column-start:3;
    grid-row:2/3; 
    justify-self:start;
    font-size:2.5em;
    margin-left:30px;
    font-weight:bold;
    color:white;
}

.carousel-text-content{ 
    grid-column-start: 3;
    grid-row: 3/4; 
    justify-self: start;
    margin-top:50px;
    margin-left:30px;
    font-size:2rem;
    color: white;
}
