@font-face {
    font-family: Bernard MT Condensed;
    src: url("../fonts/BERNHC.TTF");
}

@font-face {
    font-family: Bookman Old Style;
    src: url('../../assets/fonts/BookAntiqua.ttf');
}

@font-face {
    font-family: Century Gothic;
    src: url("../fonts/Century_Gothic.ttf");
}
