#info-menu-flex-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height:20vh;
    background-color: rgb(44, 60, 76);
    align-items: center;
}

.item{
    display:flex;
    flex-direction:column;
    color:white;
    align-items: center;
}

.item:hover .item-name{
    color:rgb(156, 186, 216)
}

.icon{
    height:32px;
    width:32px;
}