
.title {

    font-weight: bold;
    color: white;
    margin-left: 12vw;
    font-family: Bookman Old Style;

}

.text {

    color: white;
    margin-left: 8vw;
    font-family: Century Gothic;

}

#title-bot {

    margin-bottom: 50px;

}

#title-top {

    margin-top: 14vh;

}

.btn {

    margin-left: 8vw;
    border-radius: 30px;

}